## This workflow uses actions that are not certified by GitHub.
## They are provided by a third-party and are governed by
## separate terms of service, privacy policy, and support
## documentation.
###########################################################################
## This workflow will build a Java project with Gradle and
## cache/restore any dependencies to improve the workflow execution time
###########################################################################
name: 'Build, Test Android App'
on:
  push:
    branches:
      - 'master'
      - 'release*'
      - '*'

  pull_request:
    branches:
      - 'master'
      - 'release*'
      - '*'

#  # Allows you to run this workflow manually from the Actions tab
#  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: dalexander2israel/android:2021.08.1
      env:
        ANDROID_ENV: development
      ports:
        - 80
#      volumes:
#        - my_docker_volume:/volume_mount
      options: --cpus 1
    steps:
      - name: INIT Setup Environment
      - uses: actions/setup-java@v3
        with:
                  distribution: temurin
                  java-version: 11
      - run: |
        ./gradlew androidDependencies
        ./gradlew lint test
